img {
    display: block;
    width: 350px;
    height: 200px;
}

#div1 {
    display: inline-block;
    margin: 20px;
}

#div2 {
    display: inline-block;
    margin: 20px;
}

#div3 {
    display: inline-block;
    margin: 20px;
}

.zoom {
    margin: 20px;
    transition: transform .2s;
}

.container {
    position: relative;
    width: 50%;
    max-width: 350px;
}

.overlay {
    position: absolute;
    bottom: 6.1%;
    left: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 310px;
    transition: .2s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
    transform: scale(1.1);
    transition: transform .2s;
}

.container:hover .zoom {
    transform: scale(1.1);
    opacity: 1;
}