img {
    display: block;
    width: 350px;
    height: 200px;
}

#div1 {
    display: inline-block;
    margin: 20px;
}

#div2 {
    display: inline-block;
    margin: 20px;
}

#div3 {
    display: inline-block;
    margin: 20px;
}

.zoom {
    margin: 20px;
    transition: transform .2s;
}

.container {
    position: relative;
    width: 50%;
    max-width: 350px;
}

.overlay {
    position: absolute;
    bottom: 4.2%;
    left: 2.5px;
    right: 3px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 344.5px;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}

.container:hover .zoom {
    transform: scale(1.1);
    /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    opacity: 1;
}